<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                               http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>ServletFilterTutorial</display-name>


    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>servlet.MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/registration</url-pattern>
        <url-pattern>/meal</url-pattern>
        <!--        <url-pattern>/goods</url-pattern>-->
        <!--        <url-pattern>/cancel</url-pattern>-->
        <!--        <url-pattern>/logout</url-pattern>-->
    </servlet-mapping>

<!--    <filter>-->
<!--        <filter-name>authenticationFilter</filter-name>-->
<!--        <filter-class>filters.AuthenticationFilter</filter-class>-->
<!--    </filter>-->

<!--    <filter-mapping>-->
<!--        <filter-name>authenticationFilter</filter-name>-->
<!--        <url-pattern>/products/*</url-pattern>-->
<!--        <dispatcher>FORWARD</dispatcher>-->
<!--        <dispatcher>REQUEST</dispatcher>-->
<!--    </filter-mapping>-->
<!--    <filter-mapping>-->
<!--        <filter-name>authenticationFilter</filter-name>-->
<!--        <url-pattern>/receipts/*</url-pattern>-->
<!--        <dispatcher>FORWARD</dispatcher>-->
<!--        <dispatcher>REQUEST</dispatcher>-->
<!--    </filter-mapping>-->
</web-app>